<manifest
    package="mw.ankara.map"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!--地图包、搜索包需要的基础权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!--定位包、导航包需要的额外权限（注：基础权限也需要）-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application>
        <!--<meta-data-->
        <!--android:name="com.amap.api.v2.apikey"-->
        <!--android:value="请输入您的用户Key"/>-->

        <activity
            android:name=".MapActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data
                    android:host="map"
                    android:scheme="yoka"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
